﻿@using NowaEdukacjaClient.Models;
@model MojeViewModel

@{
    ViewBag.Title = "Moje powierzenia";
}

@using (Html.BeginForm("Moje", "Powierzenia", FormMethod.Get, new { id = "formPodszyj" }))
{
    
}

@using (Html.BeginForm("Zmien", "Powierzenia", FormMethod.Post, new { id = "formZmien" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="PodszyjSie" value="@Model.IdPracownik" />
    <input id="hiddenAkcja" type="hidden" name="Akcja" />
}

<div class="jumbotron">
    <p>
        Podszyj się pod pracownika
        <select name="PodszyjSie" form="formPodszyj">
            @foreach (GenericListModel p in ViewBag.pracownicy)
            {
            <option value="@p.Id" selected="@(p.Id == Model.IdPracownik)">@p.Nazwa</option>
            }
        </select>
        <button type="submit" form="formPodszyj">Podszyj się</button>
    </p>
</div>

<h2>Zaakceptowane</h2>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <p>Całkowite pensum: @Model.CalkowitePensum</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
            @if (Model.CalkowitePensum < Model.WykorzystanePensum)
            {
            <p class="alert-danger">Wykorzystane: @Model.WykorzystanePensum</p>
            }
            else
            {
            <p>Wykorzystane: @Model.WykorzystanePensum</p>
            }
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="width: 4em;">Lp.</th>
            <th>Jedn. org.</th>
            <th>Kurs</th>
            <th>Forma zajęć</th>
            <th style="width: 4em;">Godziny ZZU</th>
            <th>Liczba grup</th>
            <th>Komentarz</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Zaakceptowane.Count == 0)
        {
        <tr>
            <td>#</td>
            <td colspan="6"><i>brak zaakceptowanych powierzeń</i></td>
        </tr>
        }
        else
        {
            int lp = 1;
            foreach (PowierzenieModel p in Model.Zaakceptowane)
            {
        <tr>
            <td>@lp</td>
            <td>@p.JednOrg</td>
            <td>@p.Kurs</td>
            <td>@p.FormaZajec</td>
            <td>@p.LiczbaGodzin</td>
            <td>@p.LiczbaGrupZaakceptowana</td>
            <td>@p.Komentarz</td>
        </tr>
                lp++;
            }
        }
    </tbody>
</table>

<h2>Propozycje</h2>

<table class="table">
    <thead>
        <tr>
            <th style="width: 1em;"><input type="checkbox" onclick="toggleAll(this)" /></th>
            <th style="width: 4em;">Lp.</th>
            <th>Jedn. org.</th>
            <th>Kurs</th>
            <th>Forma zajęć</th>
            <th style="width: 4em;">Godziny ZZU</th>
            <th>Liczba grup</th>
            <th>Komentarz</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Propozycje.Count == 0)
        {
        <tr>
            <td></td>
            <td>#</td>
            <td colspan="6"><i>brak nowych propozycji</i></td>
        </tr>
        }
        else
        {
            int lp = 1;
            foreach (PowierzenieModel p in Model.Propozycje)
            {
        <tr>
            <td><input class="fnZmien" type="checkbox" name="Zmien[@(lp-1)].Accepted" form="formZmien" value="True" /></td>
            <td>
                @lp
                <input type="hidden" name="Zmien[@(lp-1)].Id" form="formZmien" value="@p.Id" />
            </td>
            <td>@p.JednOrg</td>
            <td>@p.Kurs</td>
            <td>@p.FormaZajec</td>
            <td>@p.LiczbaGodzin</td>
            <td>
                <input type="number" name="Zmien[@(lp-1)].LiczbaGrupZaakceptowana" form="formZmien" min="0" step="1" style="width: 3em; text-align: left;" value="@(p.LiczbaGrupZaakceptowana > 0 ? p.LiczbaGrupZaakceptowana : p.LiczbaGrupPowierzona)" />/@p.LiczbaGrupPowierzona
                <input type="hidden" name="Zmien[@(lp-1)].LiczbaGrupPowierzona" form="formZmien" value="@p.LiczbaGrupPowierzona" />
            </td>
            <td>
                <textarea name="Zmien[@(lp-1)].Komentarz" form="formZmien">@p.Komentarz</textarea>
            </td>
        </tr>
                lp++;
            }
        }
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" onclick="propozycjeTak()">Zaakceptuj wybrane</button>
            <button type="button" class="btn btn-warning" onclick="propozycjeMoze()">Wyślij wybrane propozycje zmian</button>
            <button type="button" class="btn btn-danger" onclick="propozycjeNie()">Odrzuć wybrane</button>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function toggleAll(element)
        {
            if ($(element).prop("checked")) {
                $(".fnZmien").prop("checked", true);
            } else {
                $(".fnZmien").prop("checked", false);
            }
        }
    </script>
    <script>
        function propozycjeRoot(numerAkcji) {
            if ($(".fnZmien:checked").length == 0) {
                alert("Nie wybrano żadnych powierzeń!");
            }
            else {
                $("#hiddenAkcja").val(numerAkcji);
                $("#formZmien").submit();
            }
        }

        function propozycjeTak() {
            propozycjeRoot(1);
        }

        function propozycjeMoze() {
            propozycjeRoot(0);
        }

        function propozycjeNie() {
            propozycjeRoot(-1);
        }
    </script>
}