﻿@using NowaEdukacjaClient.Models;
@model PrzydzielajViewModel

@{
    ViewBag.Title = "Zarządzanie powierzeniami";
}

@using (Html.BeginForm("Przydzielaj", "Powierzenia", FormMethod.Get, new { id = "formSzukaj" }))
{

}

@using (Html.BeginForm("Przydziel", "Powierzenia", FormMethod.Post, new { id = "formPrzydziel" }))
{
    @Html.AntiForgeryToken()
    for (int i = 0; i < Model.JednostkiOrganizacyjne.Count; i++)
    {
        <input type="hidden" name="Szukaj.JednostkiOrganizacyjne[@i]" value="@Model.JednostkiOrganizacyjne[i]" />
    }
    <input type="hidden" name="Szukaj.Nazwisko" value="@Model.Nazwisko" />
    <input type="hidden" name="Szukaj.Imie" value="@Model.Imie" />
    <input type="hidden" name="Szukaj.Zainteresowanie" value="@Model.Zainteresowanie" />
    <input type="hidden" name="Szukaj.Tytul" value="@Model.Tytul" />
}

<h2>Pracownicy</h2>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label style="width: 100%; text-align: right;">Jednostka organizacyjna</label>
        </div>
        <div class="col-md-8">
            <div id="jednostkiOrganizacyjne">
                <select name="JednostkiOrganizacyjne" form="formSzukaj" multiple="multiple">
                    <option value="-1" selected="@(Model.JednostkiOrganizacyjne.Contains(-1))">(bez przydziału)</option>
                    @foreach (JednostkaOrganizacyjnaListModel jo in ViewBag.jednostkiOrg)
                    {
                    <option value="@jo.Id" selected="@(Model.JednostkiOrganizacyjne.Contains(jo.Id))">@jo.Nazwa</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label style="width: 100%; text-align: right;">Wyszukiwarka</label>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="Nazwisko" form="formSzukaj" class="form-control" placeholder="nazwisko" value="@Model.Nazwisko" />
                </div>
                <div class="col-md-2">
                    <input type="text" name="Imie" form="formSzukaj" class="form-control" placeholder="imię" value="@Model.Imie" />
                </div>
                <div class="col-md-4">
                    <input type="text" name="Zainteresowanie" form="formSzukaj" class="form-control" placeholder="zainteresowania" value="@Model.Zainteresowanie" />
                </div>
                <div class="col-md-2">
                    <input type="text" name="Tytul" form="formSzukaj" class="form-control" placeholder="tytuł" value="@Model.Tytul" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="submit" form="formSzukaj" class="btn btn-primary">Szukaj</button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Lp.</th>
            <th>Jedn.org.</th>
            <th>Nazwisko, imię</th>
            <th>Tytuł</th>
            <th>Stanowisko</th>
            <th>Pensum</th>
            <th>Zainteresowania</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Pracownicy.Count == 0)
        {
        <tr>
            <td colspan="8" style="text-align: center;">(brak wyników)</td>
        </tr>
        }
        else
        {
            int lp = 1;
            foreach (PracownikModel p in Model.Pracownicy)
            {
        <tr>
            <td>
                <input type="radio" name="Dodaj.IdPracownik" form="formPrzydziel" value="@p.Id" onclick="kopiujNazwisko(this)" />
            </td>
            <td>@lp</td>
            <td>@p.JednostkaOrganizacyjna</td>
            <td class="fnNazwisko">@p.NazwiskoImie</td>
            <td>@p.TytulNaukowy</td>
            <td>@p.Stanowisko</td>
            <td>@p.Pensum</td>
            <td>@p.Zainteresowania</td>
        </tr>
                lp++;
            }
        }
    </tbody>
</table>

<h2>Powierzenia</h2>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label style="width: 100%; text-align: right;">Cykl kształcenia</label>
        </div>
        <div class="col-md-6">
            <select name="CyklKsztalcenia" form="formSzukaj" class="form-control">
                <option value="-1"></option>
                @foreach (GenericListModel ck in ViewBag.cykleKsztalcenia)
                {
                <option value="@ck.Id" selected="@(Model.CyklKsztalcenia == ck.Id)">@ck.Nazwa</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label style="width: 100%; text-align: right;">Plan studiów</label>
        </div>
        <div class="col-md-6">
            <select name="PlanStudiow" form="formSzukaj" class="form-control">
                <option value="-1"></option>
                @foreach (GenericListModel ps in ViewBag.planyStudiow)
                {
                <option value="@ps.Id" selected="@(Model.PlanStudiow == ps.Id)">@ps.Nazwa</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label style="width: 100%; text-align: right;">Semestr</label>
        </div>
        <div class="col-md-6">
            <select name="Semestr" form="formSzukaj" class="form-control">
                <option value="-1"></option>
                @foreach (GenericListModel s in ViewBag.semestry)
                {
                <option value="@s.Id" selected="@(Model.Semestr == s.Id)">@s.Nazwa</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="submit" form="formSzukaj" class="btn btn-primary">Szukaj</button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Lp.</th>
            <th style="width: 18em !important;">Kurs</th>
            <th style="width: 7em !important;">Forma zajęć</th>
            <th style="width: 7em !important;">L. godzin</th>
            <th style="width: 5em !important;">L. grup</th>
            <th>Pracownicy</th>
            <th style="width: 5em !important;">Akcept.?</th>
            <th>Komentarz</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Powierzenia.Count == 0)
        {
        <tr>
            <td colspan="8" style="text-align: center;">(brak wyników)</td>
        </tr>
        }
        else
        {
            int lp = 1;
            foreach (PowierzenieModel p in Model.Powierzenia)
            {
        <tr>
            <td>@lp</td>
            <td>@p.Kurs</td>
            <td>@p.FormaZajec</td>
            <td>@p.LiczbaGodzin</td>
            <td>
                @if (!p.CzyPowierzono)
                {
                @:@p.LiczbaGrupZaakceptowana / @p.LiczbaGrupPowierzona
                }
                else
                {
                    if (p.LiczbaGrupZaakceptowana == 0)
                    {
                @:<span class="alert-danger">@p.LiczbaGrupZaakceptowana / @p.LiczbaGrupPowierzona</span>
                    }
                    else if (p.LiczbaGrupZaakceptowana < p.LiczbaGrupPowierzona)
                    {
                @:<span class="alert-warning">@p.LiczbaGrupZaakceptowana / @p.LiczbaGrupPowierzona</span>
                    }
                    else
                    {
                @:<span class="alert-success">@p.LiczbaGrupZaakceptowana / @p.LiczbaGrupPowierzona</span>
                    }
                }
            </td>
            <td>@p.Pracownicy</td>
            <td>@(p.CzyPowierzono ? "tak" : "nie")</td>
            <td>@p.Komentarz</td>
        </tr>
                lp++;
            }
        }
        @if (ViewBag.kursy.Count > 0)
        {
        <tr id="nowePowierzenieWlaczacz" style="cursor: pointer;" onclick="pokazDodawanie()">
            <td>#</td>
            <td colspan="7"><i>kliknij, aby dodać nowe powierzenie</i></td>
        </tr>
        <tr id="nowePowierzenie" style="display: none;">
            <td>#</td>
            <td>
                <select id="kursId" name="Dodaj.IdKurs" form="formPrzydziel" class="form-control" onchange="ustawWartosci()">
                    <option value="-1"></option>
                    @foreach (GenericListModel k in ViewBag.kursy)
                    {
                        <option value="@k.Id">@k.Nazwa</option>
                    }
                </select>
            </td>
            <td>
                <span id="formaZajec"></span>
            </td>
            <td>
                <span id="liczbaGodzin"></span>
            </td>
            <td>
                <input type="number" name="Dodaj.LiczbaGrup" form="formPrzydziel" min="0" step="1" class="form-control" />
            </td>
            <td>
                <span id="pracownikNazwa" style="background-color: aliceblue;"></span>
                <br />
                <span style="font-size: smaller;">(wybierz z tabeli na górze)</span>
            </td>
            <td>
                (nie)
            </td>
            <td>(brak)</td>
        </tr>
        }
        else
        {
        <tr>
            <td>#</td>
            <td colspan="7"><i>nie ma żadnych kursów do przydzielenia na dany cykl, plan i/lub semestr</i></td>
        </tr>
        }
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button type="submit" form="formPrzydziel" class="btn btn-success">Zapisz powierzenie</button>
            <button type="button" class="btn btn-info" disabled="disabled">Generuj raport do głosowania na radzie wydziału {wyłączone}</button>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#jednostkiOrganizacyjne").find(".ms-container").css("width", "100%");
    </script>
    <script>
        function pokazDodawanie() {
            $("#nowePowierzenieWlaczacz").css("display", "none");
            $("#nowePowierzenie").css("display", "table-row");
        };
    </script>
    <script>
        function kopiujNazwisko(element) {
            $("#pracownikNazwa").text(
                $(element).parent().parent().find(".fnNazwisko").text()
            );
        }
    </script>
    <script>
        var kursy = {
            @foreach (KursPelnyListModel k in ViewBag.kursyPelne)
            {
            @:@k.Id: { forma: "@Html.Raw(k.FormaZajec)", godziny: @k.LiczbaGodzin },
            }
        };

        function ustawWartosci() {
            var kursId = $("#kursId").val();
            $("#formaZajec").text(kursy[kursId].forma);
            $("#liczbaGodzin").text(kursy[kursId].godziny);
        }
    </script>
}