﻿
@{
    ViewBag.Title = "Index";
}

<h2>Poniżej lista linków do wstępnej implementacji interfejsów z parametrami:</h2>

<ul>
    <li>@Html.ActionLink("Sale", "Sale", new { liczbaSal = 15 })</li>
    <li></li>
    <li></li>
    <li></li>
</ul>