﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nowa Edukacja</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nowa Edukacja", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Zarządzanie salami", "Szukaj", "Sale")</li>
                    <li>@Html.ActionLink("Perspektywa Pełnomocnika (przydzielanie powierzeń)", "Przydzielaj", "Powierzenia")</li>
                    <li>@Html.ActionLink("Perspektywa pracownika (akceptacja powierzeń)", "Moje", "Powierzenia")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @{var responseDialog = TempData["ResponseDialog"] as NowaEdukacjaClient.Models.ResponseDialog; }
        @if (responseDialog != null)
        {
            <div id="responseDialog" title="@(responseDialog.Success ? "Sukces" : "Błąd...")" class="ui-dialog">
                <div style="min-width: 100%; width: 100%; min-height: 100%; height: 100%;" class="@(responseDialog.Success ? "alert-success" : "alert-danger")">
                    @Html.Raw(responseDialog.Body)
                </div>
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 200379, 203236, 203322</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    
    @if (responseDialog != null)
    {
        <script>
            $("#responseDialog").dialog({
                modal: true
            });
        </script>
    }
    <script>
        $("select[multiple]").multiSelect({
            selectableHeader: "<div>Do wyboru</div>",
            selectionHeader: "<div>Wybrane</div>"
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
