﻿@{
    ViewBag.Title = "Strona domowa";
}

<div class="jumbotron">
    <h1>Projektowanie Systemów Informatycznych</h1>
    <h2>Milestone IV, ostatni</h2>
    <ol>
        <li>Na górze strony znajdują się odnośniki do 3 widoków realizujących odpowiednie funkcjonalności.</li>
    </ol>
</div>