﻿@using NowaEdukacjaClient.Models;
@model SaleViewModel

@{
    ViewBag.Title = "Wyszukaj sale";
}

<h2>Sale</h2>

@using (Html.BeginForm("Szukaj", "Sale", FormMethod.Get, new { id = "formSzukaj" }))
{

}

@using (Html.BeginForm("Usun", "Sale", FormMethod.Post, new { id = "formUsun" }))
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="id" />
    <input type="hidden" name="Szukaj.NumerSali" value="@Model.NumerSali" />
    <input type="hidden" name="Szukaj.Budynek" value="@Model.Budynek" />
    <input type="hidden" name="Szukaj.TypSali" value="@Model.TypSali" />
    for (int i = 0; i < Model.Wyposazenie.Count; i++)
    {
        <input type="hidden" name="Szukaj.Wyposazenie[@i]" value="@Model.Wyposazenie[i]" />
    }
    <input type="hidden" name="Szukaj.LimitMiejscMin" value="@Model.LimitMiejscMin" />
    <input type="hidden" name="Szukaj.LimitMiejscMax" value="@Model.LimitMiejscMax" />
}

@using (Html.BeginForm("Dodaj", "Sale", FormMethod.Post, new { id = "formDodaj" }))
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="Szukaj.NumerSali" value="@Model.NumerSali" />
    <input type="hidden" name="Szukaj.Budynek" value="@Model.Budynek" />
    <input type="hidden" name="Szukaj.TypSali" value="@Model.TypSali" />
    for (int i = 0; i < Model.Wyposazenie.Count; i++)
    {
        <input type="hidden" name="Szukaj.Wyposazenie[@i]" value="@Model.Wyposazenie[i]" />
    }
    <input type="hidden" name="Szukaj.LimitMiejscMin" value="@Model.LimitMiejscMin" />
    <input type="hidden" name="Szukaj.LimitMiejscMax" value="@Model.LimitMiejscMax" />
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label style="width: 100%; text-align: right;">Numer sali</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="text" name="NumerSali" form="formSzukaj" style="width: 100%;" class="form-control" placeholder="201, 1.30, 107a, ..." value="@Model.NumerSali" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label style="width: 100%; text-align: right;">Budynek</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="text" name="Budynek" form="formSzukaj" style="width: 100%;" class="form-control" placeholder="C-3, D-1, A-1, ..." value="@Model.Budynek" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label style="width: 100%; text-align: right;">Typ sali</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <select name="TypSali" form="formSzukaj" style="width: 100%;" class="form-control">
                <option value=""></option>
                @foreach (TypSaliListModel t in ViewBag.typySal)
                {
                    <option value="@t.Id" selected="@(Model.TypSali == t.Id)">@t.Nazwa</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label style="width: 100%; text-align: right;">Wyposażenie dodatkowe</label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <select name="Wyposazenie" form="formSzukaj" size="4" style="width: 100%;" class="form-control" multiple="multiple">
                @foreach (WyposazenieListModel w in ViewBag.typyWyposazenia)
                {
                    <option value="@w.Id" selected="@(Model.Wyposazenie.Contains(w.Id))">@w.Typ</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label style="width: 100%; text-align: right;">Limity miejsc</label>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1">
            <label style="width: 100%; text-align: right;">min.</label>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1">
            <input type="number" name="LimitMiejscMin" form="formSzukaj" style="width: 100%;" class="form-control" step="1" min="0" value="@Model.LimitMiejscMin" />
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1 col-md-offset-1">
            <label style="width: 100%; text-align: right;">max.</label>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1">
            <input type="number" name="LimitMiejscMax" form="formSzukaj" style="width: 100%;" class="form-control" step="1" min="0" value="@Model.LimitMiejscMax" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="text-align: center;">
            <button type="submit" form="formSzukaj" class="btn btn-primary">Szukaj</button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Numer sali</th>
            <th>Budynek</th>
            <th>Typ sali</th>
            <th>Liczba miejsc</th>
            <th>Wyposażenie</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody id="saleBody">
        @{ int lp = 1; }
        @foreach (var item in Model.Sale)
        {
            <tr>
                <td>
                    @lp
                </td>
                <td style="white-space: nowrap;" id="numer">
                    @Html.DisplayFor(modelItem => item.NumerSali)
                </td>
                <td id="budnek">
                    @Html.DisplayFor(modelItem => item.Budynek)
                </td>
                <td id="typSali">
                    @Html.DisplayFor(modelItem => item.TypSali)
                </td>
                <td id="liczbaMiejsc">
                    @Html.DisplayFor(modelItem => item.LiczbaMiejsc)
                </td>
                <td id="wyposazenie">
                    @Html.DisplayFor(modelItem => item.Wyposazenie)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.NumerSali, new { @class = "fnUsunNumerSali" })
                    @Html.HiddenFor(modelItem => item.Budynek, new { @class = "fnUsunBudynek" })
                    @Html.HiddenFor(modelItem => item.Id, new { @class = "fnUsunId" })
                    <button type="button" onclick="usun(this)" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            lp++;
        }
        <tr id="nowaSalaWlaczacz" style="cursor: pointer;" onclick="pokazDodawanie()">
            <td>#</td>
            <td colspan="6"><i>kliknij, aby dodać nową</i></td>
        </tr>
        <tr id="nowaSala" style="display: none;">
            <td>#</td>
            <td>
                <input id="DodajNumerSali" type="text" name="Dodaj.NumerSali" form="formDodaj" class="form-control" placeholder="201" value="@Model.NumerSali" />
            </td>
            <td>
                <input id="DodajBudynek" type="text" name="Dodaj.Budynek" form="formDodaj" class="form-control" placeholder="C-13" value="@Model.Budynek" />
            </td>
            <td>
                <select id="DodajTypSali" name="Dodaj.TypSali" form="formDodaj" class="form-control">
                    <option value="-1"></option>
                    @foreach (TypSaliListModel t in ViewBag.typySal)
                    {
                        <option id="@t.Id" value="@t.Id" selected="@(Model.TypSali == t.Id)">@t.Nazwa</option>
                    }
                </select>
            </td>
            <td>
                <input id="DodajLiczbaMiejsc" type="number" name="Dodaj.LiczbaMiejsc" form="formDodaj" value="0" step="1" min="0" class="form-control" />
            </td>
            <td>
                <select id="DodajWyposazenie" name="Dodaj.Wyposazenie" form="formDodaj" multiple="multiple">
                    @foreach (WyposazenieListModel w in ViewBag.typyWyposazenia)
                    {
                        <option id="@w.Id" value="@w.Id" selected="@(Model.Wyposazenie.Contains(w.Id))">@w.Typ</option>
                    }
                </select>
            </td>
            <td>
                <button id="dodajNowaSale" type="button" onclick="dodaj(this)" class="btn btn-success">Dodaj</button>
            </td>
        </tr>
    </tbody>
</table>

@section scripts {
    <script>
        function pokazDodawanie() {
            $("#nowaSalaWlaczacz").css("display", "none");
            $("#nowaSala").css("display", "table-row");
        };

        function usun(element) {
            var komorka = $(element).parent();
            var potwierdz = confirm("Czy na pewno chcesz usunąć salę "
                + komorka.find(".fnUsunNumerSali").val()
                + " w budynku "
                + komorka.find(".fnUsunBudynek").val()
                + "?");

            if (potwierdz) {
                $("#formUsun").find("input[name='id']").val(komorka.find(".fnUsunId").val());
                $("#formUsun").submit();
            }
        }

        function dodaj(element) {
            $("#formDodaj").submit();
        }
    </script>
}